{% extends 'base.html.twig' %}
{% block title %}Politique d'utilisation des cookies{% endblock %}

{% block body %}
    <h1>Politique d’utilisation des cookies</h1>
        <p><strong>Dernière mise à jour :</strong> 20 mai 2025</p>

        <p>Lors de la navigation sur notre site, des cookies peuvent être déposés sur votre navigateur pour garantir un fonctionnement optimal et améliorer votre expérience utilisateur.</p>

        <h2>1. Qu’est-ce qu’un cookie ?</h2>
            <p>Un cookie est un fichier texte stocké sur votre ordinateur ou appareil mobile lors de la consultation d’un site.</p>

        <h2>2. Cookies utilisés</h2>
            <ul>
                <li>Cookies nécessaires : essentiels au bon fonctionnement du site</li>
            </ul>

        <h2>3. Consentement</h2>
            <p>Lors de votre première visite, une bannière vous propose d’accepter, refuser ou personnaliser les cookies.</p>

        <h2>4. Durée de conservation</h2>
            <p>Les cookies sont conservés pour une durée maximale de 13 mois.</p>

        <h2>5. Gestion des cookies</h2>
         <p>Vous pouvez à tout moment modifier vos préférences via le lien “Paramètres cookies” en bas du site.</p>
{% endblock %}
