{% extends 'base.html.twig' %}
{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
    <h1>Politique de confidentialité</h1>
        <p><strong>Dernière mise à jour :</strong> 20 mai 2025</p>

        <p>
        L'organisation des Jeux Olympiques Paris 2024 (ci-après "l’Organisation") attache une grande importance à la protection de votre vie privée et de vos données personnelles. 
        Cette politique vise à vous expliquer comment vos données sont collectées, utilisées et protégées conformément au Règlement Général sur la Protection des Données (RGPD) et à la loi "Informatique et Libertés".
        </p>

        <h2>1. Responsable du traitement</h2>
            <p>L’Organisation des Jeux Olympiques – Paris 2024<br>Email : contact@jo2024.fr</p>

        <h2>2. Données collectées</h2>
            <ul>
                <li>Nom et prénom</li>
                <li>Adresse e-mail</li>
                <li>Mot de passe (haché et stocké de manière sécurisée)</li>
                <li>Clés de sécurité (non visibles par l'utilisateur)</li>
                <li>Historique de commande</li>
            </ul>

        <h2>3. Finalités du traitement</h2>
            <ul>
                <li>Création et gestion de votre compte</li>
                <li>Réservation et génération de billets électroniques</li>
                <li>Sécurisation des accès et prévention de la fraude</li>
            </ul>

        <h2>4. Base légale</h2>
            <p>La collecte de données repose sur votre consentement.</p>

        <h2>5. Durée de conservation</h2>
            <ul>
                <li>Données utilisateur : 2 ans après la dernière activité</li>
                <li>Données de commande : jusqu'à la fin de l'événement</li>
                <li>Logs techniques : 6 mois</li>
            </ul>

        <h2>6. Sécurité</h2>
            <p>Les données sont stockées sur des serveurs sécurisés, les mots de passe sont hachés, et les billets sont protégés par des clés uniques et un QR code sécurisé.</p>

        <h2>7. Vos droits</h2>
            <p>Conformément au RGPD, vous disposez des droits suivants :</p>
            <ul>
                <li>Droit d’accès à vos données</li>
                <li>Droit de rectification ou de suppression</li>
                <li>Droit de portabilité</li>
                <li>Droit d’opposition ou de limitation</li>
            </ul>
            <p>Pour exercer vos droits : </p>

        <h2>8. Transfert de données hors UE</h2>
            <p>Aucune donnée n’est transférée en dehors de l’Union européenne.</p>

        <h2>9. Mise à jour</h2>
            <p>Cette politique pourra être mise à jour à tout moment. Vous en serez informé via le site.</p>
{% endblock %}
