{% extends 'base.html.twig' %}
{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}
    <h1>Conditions Générales d’Utilisation</h1>
        <p><strong>Dernière mise à jour :</strong> 20 mai 2025</p>

        <h2>1. Objet</h2>
            <p>Les présentes conditions régissent l’utilisation du site officiel de réservation de billets pour les Jeux Olympiques Paris 2024.</p>

        <h2>2. Accès au service</h2>
            <p>L’utilisateur peut :</p>
            <ul>
                <li>Consulter les offres</li>
                <li>Créer un compte personnel</li>
                <li>Réserver des e-tickets</li>
            </ul>

        <h2>3. Création de compte</h2>
            <p>Lors de l’inscription, l’utilisateur doit fournir des informations exactes et s’engage à ne pas créer de faux comptes.</p>

        <h2>4. Sécurité</h2>
            <p>Le mot de passe doit respecter les exigences de sécurité. L’utilisateur est responsable de la confidentialité de ses identifiants.</p>

        <h2>5. Propriété intellectuelle</h2>
            <p>Les logos, textes, images, contenus sont la propriété exclusive de l’Organisation. Toute reproduction est interdite sans autorisation écrite.</p>

        <h2>6. Responsabilités</h2>
            <p>Le site ne peut être tenu responsable des interruptions temporaires, bugs, ou pertes de données liées à l’usage du site.</p>

        <h2>7. Résiliation</h2>
            <p>En cas de non-respect des présentes CGU ou de fraude, le compte de l’utilisateur pourra être suspendu sans préavis.</p>

        <h2>8. Loi applicable</h2>
            <p>Les présentes conditions sont soumises à la loi française. En cas de litige, les tribunaux de Paris sont compétents.</p>
{% endblock %}
