{% extends 'base.html.twig' %}

{% block title %}Édition de la page légale{% endblock %}

{% block body %}
    <h1>Édition de la page : {{ page }}</h1>
    <p>Cette page est en lecture seule pour l’instant. Une interface d’édition peut être ajoutée ici.</p>
    <p>Template en cours : <code>{{ template }}</code></p>
{% endblock %}
