{% extends 'base.html.twig' %}

{% block title %}Votre e-ticket{% endblock %}

{% block body %}
    <h1>E-ticket pour {{ ticket.offer.name }}</h1>
    <p>Date d'achat : {{ ticket.createdAt|date('d/m/Y H:i') }}</p>

    <h3>QR Code</h3>
    <img src="{{ qrCode }}" alt="QR Code du billet" />

    <p>Clé sécurisée : {{ ticket.finalKey }}</p>
{% endblock %}
